.ct-series-a .ct-slice-donut-solid{ fill: #3659A2; }
.ct-series-b .ct-slice-donut-solid{ fill: #4A4290; }
.ct-series-c .ct-slice-donut-solid{ fill: #008297; }
.ct-series-d .ct-slice-donut-solid{ fill: #30826C; }
.ct-series-e .ct-slice-donut-solid{ fill: #9B3B5A; }
.ct-series-f .ct-slice-donut-solid{ fill: #9F4B84; }
.ct-series-g .ct-slice-donut-solid{ fill: #733A88; }
