<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
</head>

<body>
  <div id="app">
    {{ content }}
  </div>
  <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
  {% include scripts.html %}
</body>

</html>